<template>
  <section id="articles-component">
    <div v-if="!articles">
      <div class="alert alert-primary alert-dismissible fade show loading" role="alert">
        <strong>Cargando</strong> los datos ...
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div id="articles-list" v-if="articles && articles.length >= 1">
      <article class="article-item" v-for="article in articles" :key="article._id">
        <div class="image-wrap">
          <img :src="url+'/get-image/'+ article.image" :alt="article.title" v-if="article.image" />
          <img src="../assets/default.png" v-if="!article.image" />
        </div>

        <h2>
          <router-link :to="{name: 'article', params: {id: article._id}}">{{article.title}}</router-link>
        </h2>

        <span class="date">{{article.date | moment('from', 'now')}}</span>
        <router-link :to="{name: 'article', params: {id: article._id}}">Leer más</router-link>
        <div class="clearfix"></div>
      </article>
    </div>

    <div v-else-if="articles && articles.length < 1">
      <div class="alert alert-danger alert-dismissible fade show loading" role="alert">
        <strong>No hay Articulos</strong> para mostrar, Intentalo mas tarde
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div v-else>
      <div class="alert alert-warning alert-dismissible fade show loading" role="alert">
        <strong>Cargando</strong> los datos ...
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </section>
</template>

<script>

import Global from "../Global.js";

export default {
  name: "Articles",
  props: ["articles"],
  data() {
    return {
      url: Global.url
    };
  }
};
</script>