<template>
  <div class="blog">
    <SliderComponent texto="Blog"></SliderComponent>
    <div class="center">
      <section id="content">
        <br />
        <h2 class="subheader">Articulos</h2>

        <div id="articles" v-if="articles">
          <Articles :articles="articles"></Articles>
        </div>
      </section>

      <SidebarComponent></SidebarComponent>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Global from "../Global.js";
import SidebarComponent from "./Sidebar.vue";
import SliderComponent from "./Slider.vue";
import Articles from "./Articles.vue";

export default {
  name: "BlogComponent",
  components: {
    SidebarComponent,
    SliderComponent,
    Articles
  },
  mounted() {
    this.getArticles();
    //alert(Global.url);
  },
  data() {
    return {
      url: Global.url,
      articles: null
    };
  },
  methods: {
    getArticles() {
      axios.get(this.url + "/articles").then(res => {
        if (res.data.status === "success") {
          this.articles = res.data.articles;
          //console.log(this.articles);
        }
        //console.log(res);
      });
    }
  }
};
</script>