<div class="general">
  <div class="center">
    <section id="content">
      <br>
      <h1 class="subheader">Crear artículo</h1>

      <!--Formulario-->
      <form class="mid-form" v-on:submit.prevent="save()">
        <div class="form-group">
          <label for="title">Titulo</label>
          <input type="text" name="title" v-model="article.title" />
          <div v-if="submitted && !$v.article.title.required">
            El titulo debe tener algo!!
          </div>
        </div>

        <div class="form-group">
          <label for="content">Contenido</label>
          <textarea name="content" v-model="article.content"></textarea>
          <div v-if="submitted && !$v.article.content.required">
            El contenido debe tener algo!!
          </div>
        </div>

        <div class="form-group">
          <label for="image">Imagen</label>
          <input
            type="file"
            id="file"
            ref="file"
            name="file0"
            @change="fileChange()"
          />
        </div>

        <div class="clearfix"></div>

        <input type="submit" value="Guardar" class="btn btn-success" />
      </form>
    </section>
    <SidebarComponent></SidebarComponent>
    <div class="clearfix"></div>
  </div>
</div>
