<template>
    <div class="center">
    <section id="content">
  <br>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Pagina no Encontrada</h4>
      <p>No se encontro lo solicitado</p>
      <hr>
      <p class="mb-0">Intentelo mas Tarde</p>
      
    </div>
</section>
</div>

</template>

<script>
export default {
    name:'Error404'
}
</script>