<template>
    <footer id="footer" class="bg-dark">
    <div class="center">
        <nav class="redes-sociales">
            <a target="_blank" href="https://gitlab.com/smavo"><i class="fab fa-gitlab" aria-hidden="true" target="_blank"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/smavo24/"><i class="fab fa-linkedin"></i></a>
            <a target="_blank" href="https://twitter.com/smavo24"><i class="fab fa-twitter"></i></a>
            <a target="_blank" href="https://www.instagram.com/s.m.a.v.o.24/"><i class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://www.facebook.com/smavo24"><i class="fab fa-facebook-square"></i></a>                    
        </nav>
    </div>
    
</footer>

</template>

<script>
export default {
    name: 'FooterComponent'
}
</script>