<template>
<div>
  <b-navbar toggleable="lg" type="dark" variant="dark">
    <b-navbar-brand href="/home">
      <img src="../assets/logo.png" width="32" class="d-inline-block align-top" alt="Kitten">
      Blog VueJS
    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <li>
          <router-link to=/home class="navbar-brand" active-class="active">Home</router-link>
        </li>
        <li>
          <router-link to=/blog class="navbar-brand" active-class="active">Blog</router-link>
        </li>
        <li>
          <router-link to=/hello class="navbar-brand" active-class="active">Hello</router-link>
        </li>
      </b-navbar-nav>

    </b-collapse>
  </b-navbar>
  </div>
</template>

// IMPORTANDO BOOTSRAP AL PROYECTO/
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'


<script>
export default {
    name: 'HeaderComponent'
}
</script>