<template>
  <div class="general">
    <SliderComponent 
          texto="Bienvenido al Blog hecho en VueJS 4.3.0" 
          home="true"></SliderComponent>

    <div class="center">
      <section id="content">
        <br />
        <h2 class="subheader">Ultimos Articulos</h2>
        
        <div id="articles" >
          <Articles v-bind:articles="articles"></Articles>
        </div>
      </section>

      <SidebarComponent></SidebarComponent>
      <div class="clearfix"></div>
    </div>
  </div>
</template>


<script>
import axios from "axios";
import Global from "../Global.js";
import SliderComponent from "./Slider.vue";
import SidebarComponent from "./Sidebar.vue";
import Articles from "./Articles.vue";

export default {
  name: "HomeComponent",
  components: {
    /*HelloWorld,*/
    SliderComponent,
    SidebarComponent,
    Articles
  },
  mounted() {
    this.getlastArticles();
  },
  data() {
    return {
      url: Global.url,
      articles: null
    };
  },
  methods: {
    getlastArticles() {
      axios.get(this.url + "/articles/true").then(res => {
        if (res.data.status === "success") {
          this.articles = res.data.articles;
          //console.log(this.articles);
        }
        //console.log(res);
      });
    }
  }
};
</script>