<template>
  <div class="general">
    <SliderComponent :texto="'Busqueda: ' + search"></SliderComponent>
    <div class="center">
      <section id="content">
        <br />

        <h2 class="subheader" v-if="articles">Articulos Encontrados</h2>
        <h2 class="subheader" v-else>Sin resultados</h2>

        <div id="articles" v-if="articles">
          <Articles :articles="articles"></Articles>
        </div>

        <div v-else>
          <div
            class="alert alert-warning alert-dismissible fade show loading"
            role="alert">
            <strong>No hay articulos </strong>que coindican con tu busqueda
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

      </section>
      <SidebarComponent></SidebarComponent>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
import SidebarComponent from "./Sidebar.vue";
import SliderComponent from "./Slider.vue";

import Articles from "./Articles.vue";
import Global from "../Global.js";
import axios from "axios";

export default {
  name: "Search",
  components: {
    SidebarComponent,
    SliderComponent,
    Articles,
  },
  mounted() {
    this.search = this.$route.params.searchString;
    this.getArticlesBySearch(this.search);
    //alert(Global.url);
  },
  data() {
    return {
      url: Global.url,
      articles: null,
      search: null,
    };
  },
  methods: {
    getArticlesBySearch(searchString) {
      axios.get(this.url + "/search/" + searchString).then(res => {
        if (res.data.status === "success") {
          this.articles = res.data.articles;
          //console.log(this.articles);
        }
        //console.log(res);
      });
    },
  },
};
</script>
