<template>
  <div id="app">
    <HeaderComponent></HeaderComponent>
   
      <router-view></router-view>

    <FooterComponent></FooterComponent>

    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  </div>
</template>

<script>
/*import HelloWorld from './components/HelloWorld.vue';*/
import HeaderComponent from "./components/Header.vue";
import FooterComponent from "./components/Footer.vue";


// IMPORTANDO BOOTSRAP AL PROYECTO/
import Vue from "vue";
import { BootstrapVue, IconsPlugin } from "bootstrap-vue";
// Install BootstrapVue
Vue.use(BootstrapVue);
// Optionally install the BootstrapVue icon components plugin
Vue.use(IconsPlugin);

export default {
  name: "app",
  components: {
    /*HelloWorld,*/
    HeaderComponent,
    FooterComponent
  }
};
</script>

<style>
/*
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}*/

@import "./assets/css/style.css";
</style>
